.hero {
  background: var(--tint-blue);
  color: var(--white);
}

.hero .container {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}

.hero .left {
  flex: 1;
  margin-right: 1rem;
}

.hero .left .sub-heading {
  margin: 1.5rem 0 3rem;
  width: 85%;
  opacity: 0.7;
}

.hero .left .main-btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero .anchored-btn {
  margin-left: 2.5rem;
}

@media screen and (max-width: 73rem) {
  .hero .container {
    flex-direction: column;
  }

  .hero .left {
    width: 100%;
    margin: 0;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 32.25rem) {
  .hero .container {
    align-items: flex-start;
  }
}

@media screen and (max-width: 21.5625rem) {
  .hero .left .main-btns {
    flex-direction: column;
    justify-content: space-between;
  }
  .hero .left .main-btn {
    margin-bottom: 1rem;
  }
  .hero .left .anchored-btn {
    margin: 0;
  }
}
